@font-face {
    font-family: lora-variable;
    src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family: lora;
    src: url(fonts/Lora/Lor);
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: spartan;
    src: url(fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
}
.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.logo {
    position: relative;
    background-image: url(images/desktop_image.jpeg);
    width: 1440px;
    height: 680px;
    background-repeat: no-repeat;
}
.row {
    display: flex;
    justify-content: center;
    height: 680px;
    width: 100%;
    position: relative;
}





/*.runo-header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}
.runo {
    display: flex;
    width: 850px;
    align-items: center;
    height: 80px;
    color: white;
}*/
.menus {
    display: flex;
    width: 277px;
    align-items: center;
    height: 20px;
    border-right: 0.5px solid rgb(229, 229, 229);
    justify-content: space-around;
    list-style-type: none;

}
.menus a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-family: roboto;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
}
.menus a:hover {
    border-bottom: 2px solid rgb(212, 163, 115);
}
.social-icons {
    display: flex;
    width: 206px;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    border-right: 0.5px solid rgb(229, 229, 229);
    list-style-type: none;
}
.search-icon {
    display: flex;
    width: 107px;
    align-items: center;
    height: 80px;
}
.runo-text {
    font-family: spartan;
    padding-left: 70px;
    color: rgb(248, 249, 250);
    font-size: 20px;
}

.social-facebook-button {
    height: 20px;
    width: 20px;
    background-image: url(images/facebook.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-twitter-button {
    height: 20px;
    width: 20px;
    background-image: url(images/twitter.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-youtube-button {
    height: 20px;
    width: 20px;
    background-image: url(images/youtube.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-pinterest-button {
    height: 20px;
    width: 20px;
    background-image: url(images/pinterest.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-behance-button {
    height: 20px;
    width: 20px;
    background-image: url(images/behance.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.search-icon {
    height: 20px;
    width: 107px;
    margin-left: 10px;
    background-image: url(images/Search\ Icon.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}









.slider-item {
    position: absolute;
    bottom: 20%;
}
.blog-slider {
    display: flex;
    align-items: end;
    height: 600px;
    padding-left: 70px;
}
.slider-block-button {
    margin-bottom: 15px;
}
.adventure-button {
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(255, 255, 255   , 0.25);
    width: 77px;
    height: 25px;
    font-size: 10px;
    border-radius: 8px;
    color: white;
    font-family: roboto;
}
.description {
    width: 530px;
    color: rgb(255, 255, 255);
    line-height: 46px;
    font-weight: 700;
    font-size: 36px;
    font-family: lora;
    margin-bottom: 25px;
}
.date-description {
    display: flex;
    align-items: end;
    width: 530px;
    color: rgb(229, 229, 229);
    font-family: lora-variable;
    font-size: 12px;
    line-height: 20px;
}
.date-line {
    background-image: url(images/line-date.png);
    width: 70px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 9px;
}
.slider-b {
    height: 35px;
    width: 70px;
}






.block-regular {
    padding-top: 70px;
    display: flex;
    width: 100%;
    height: 1300px;
    justify-content: center;

}
.popular-topics {
    font-family: lora-variable;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: rgb(73, 80, 87);
}
.block-regular-menu {
    width: 1300px;

}
.regular-menu-position {
    display: flex;
    margin-top: 32px;
}
.regular-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
    height: 25px;
}
.view-all-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    width: 70%;
    height: 25px;
}
.regular-menu a {
    font-family: lora-variable;
    font-size: 12px;
    color: rgb(73, 80, 87);
    
}
.view-all-menu a {
    font-family: lora-variable;
    font-size: 12px;
    color:rgb(73, 80, 87);
}



.blog-four-columns {
    display: inline-block;
    width: 1300px;
    height: 950px;
}
.row-first {
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.row-second {
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.row-blog-first {
    height: 450px;
    width: 310px;
}
.all-date {
    font-family: lora-variable;
    color: rgb(108, 117, 125);
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}
.all-blog-title {
    font-family: lora-variable;
    color: rgb(73, 80, 87);
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}
.all-blog-text {
    font-family: lora-variable;
    color: rgb(108, 117, 125);
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}
.image-and-button {
    position: relative;
    height: 280px;
    width: 310px;
}
.all-blog-buttons {
    align-self: flex-start;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-family: roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px
}
.blog-buttons {
    border: none;
    background-color: rgba(255, 255, 255   , 0.25);
    width: 77px;
    height: 25px;
    border-radius: 8px;
    margin: 10px;
}











.big-post{
    position: relative;
    background-image: url(images/image-big-post.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
.slider-item-big-post {
    position: absolute;
    top: 35%;
    left: 32%;
    height: 245px;
    width: 530px;
}
.adventure-button {
    width: 62px;
    height: 22px;
    display: block;
    margin: 0 auto;
}
.big-post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 130px;
    width: 530px;
    font-family: lora-variable;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: rgb(255, 255, 255);
}
.big-post-text {
    display: block;
    margin: 0 auto;
    height: 57px;
    width: 420px;
    font-family: lora-variable;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgb(229, 229, 229);
}
.big-post-dash {
    display: block;
    margin: 0 auto;
    background-image: url(images/line-date.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 20px;
}
.big-post-date {
    display: block;
    margin: 0 auto;
    width: 59px;
    height: 35px;
    color: rgb(229, 229, 229);
    font-family: lora-variable;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}








.blog-metro {
    padding-top: 150px;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.editors-pick {
    margin-left: 5px;
    height: 72px;
    font-family: lora-variable;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: rgb(73, 80, 87);
}
.editor-pick-blogs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editor-blog {
    position: relative;
    width: 420px;
    height: 350px;
    margin: 10px;
}
.all-text-editor-blog {
    position: absolute;
    height: 155px;
    width: 340px;
    bottom: 10%;
    left: 10%;
    font-family: lora-variable;
    color: rgb(229, 229, 229);
}
.text-editor-blog {
    width: 340px;
    height: 60px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
}





.footer {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.logo-footer {
    height: 400px;
    width: 1440px;
}
.footer-top {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 400px;
    background-color: rgb(33, 37, 41);
}
.footer-bottom {
    display: flex;
    width: 1440px;
    height: 80px;
    background-color: rgb(52, 58, 64);
}
.footer-bottom-version {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(229, 229, 229);
    font-weight: 700;
    line-height: 18px;
    margin-left: 70px;
    width: 85%;
    height: 80px;
    font-family: lora-variable;
}
.footer-bottom-subscribe {
    display: flex;
    align-items: center;
    font-family: lora-variable;
    color: rgb(229, 229, 229);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.footer-top-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1162px;
    height: 188px;
    left: 28%;
    font-family: lora-variable;
    color: rgb(255, 255, 255);
}
.footer-first-column {
    display: grid;
    width: 192px;
    height: 89px;
}
.footer-second-column {
    display: grid;
    width: 101px;
    height: 188px;
}
.social-icons-footer {
    display: flex;
    width: 206px;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    list-style-type: none;
}