@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}
.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.logo {
    position: relative;
    background-image: url(images/desktop_image.jpeg);
    width: 1440px;
    height: 680px;
    background-repeat: no-repeat;
}
.row {
    display: flex;
    justify-content: center;
    height: 680px;
    width: 100%;
    position: relative;
}





/*.runo-header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}
.runo {
    display: flex;
    width: 850px;
    align-items: center;
    height: 80px;
    color: white;
}*/
.menus {
    display: flex;
    width: 277px;
    align-items: center;
    height: 20px;
    border-right: 0.5px solid rgb(229, 229, 229);
    justify-content: space-around;
    list-style-type: none;

}
.menus a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
}
.menus a:hover {
    border-bottom: 2px solid rgb(212, 163, 115);
}
.social-icons {
    display: flex;
    width: 206px;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    border-right: 0.5px solid rgb(229, 229, 229);
    list-style-type: none;
}
.search-icon {
    display: flex;
    width: 107px;
    align-items: center;
    height: 80px;
}
.runo-text {
    font-family: "Spartan", sans-serif;
    padding-left: 70px;
    color: rgb(248, 249, 250);
    font-size: 20px;
}

.social-facebook-button {
    height: 20px;
    width: 20px;
    background-image: url(images/facebook.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-twitter-button {
    height: 20px;
    width: 20px;
    background-image: url(images/twitter.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-youtube-button {
    height: 20px;
    width: 20px;
    background-image: url(images/youtube.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-pinterest-button {
    height: 20px;
    width: 20px;
    background-image: url(images/pinterest.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.social-behance-button {
    height: 20px;
    width: 20px;
    background-image: url(images/behance.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}
.search-icon {
    height: 20px;
    width: 107px;
    margin-left: 10px;
    background-image: url(images/Search\ Icon.png);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255   , 0);
}








.blog-slider {
    display: flex;
    align-items: end;
    height: 600px;
    padding-left: 70px;
}
.slider-block-button {
    position: absolute;
    bottom: 58%;
}
.adventure-button {
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(255, 255, 255   , 0.25);
    width: 77px;
    height: 25px;
    font-size: 10px;
    border-radius: 8px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.description {
    position: absolute;
    width: 530px;
    color: white;
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 36px;
    bottom: 37%;
}
.date-description {
    position: absolute;
    display: flex;
    align-items: end;
    width: 530px;
    color: rgb(229, 229, 229);
    font-family: "Lora", sans-serif;
    font-size: 12px;
    line-height: 20px;
    bottom: 27%;
}
.date-line {
    background-image: url(images/line-date.png);
    width: 70px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 9px;
}
.slider-b {
    position: absolute;
    height: 35px;
    bottom: 13%;
    width: 70px;
}